
.cls_1{ fill: #eaebec; stroke: #262424;}
.cls_1,.cls_15,.cls_16,.cls_2,.cls_3,.cls_4,.cls_6,.cls_7,.cls_8,.cls_9{ stroke_miterlimit: 10;}
.cls_15,.cls_2,.cls_3{ fill: none;}
.cls_2,.cls_3{ stroke: #fff;}
.cls_2{ stroke_width: 6px;}
.cls_4,.cls_5{ fill: #e8ae4a;}
.cls_4{ stroke: #e0922e;}
.cls_4,.cls_6{ stroke_width: 0.5px;}
.cls_6{ fill: #b880b3; stroke: #9e7cb4;}
.cls_7{ fill: #9ec54c;}
.cls_15,.cls_16,.cls_7{ stroke: #51924b;}
.cls_8{ fill: #64a8df; stroke: #4674b8;}
.cls_9{ fill: #a1bde3; stroke: #80aede;}
.cls_10{ font_size: 12px;}
.cls_10,.cls_12,.cls_13{ fill: #262424;}
.cls_10,.cls_12{ font_family: NotoSansCJKtc_Medium_B5pc_H, Noto Sans CJK TC;}
.cls_11{ letter_spacing: _0.04em;}
.cls_12{ font_size: 8px;}
.cls_13{ font_size: 24px; font_family: GenJyuuGothicX_P_Medium, GenJyuuGothicX P_Medium; font_weight: 500;}
.cls_14{ font_family: GenJyuuGothicX_P_Bold, GenJyuuGothicX P_Bold; font_weight: 700;}
.cls_15{ stroke_width: 13px;}
.cls_16{ fill: #fff; stroke_width: 7px;}